
body {
    background-color: turquoise;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2em;
    color:blueviolet;
}

h2 {
    font-family: Impact;
    color: pink;
    background-color: darkorange;
    font-size: 2em;
    font-stretch: extra-expanded;
    font-weight: 200;
}

p {
    font-family: cursive;
    font-variant: small-caps;
    color: navy;
    background-color: crimson;
}

.information {
    color: yellow;
    font-weight: bold;
}

.large-font {
    font-size: 1.2rem;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.input-wrapper {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-row {
    display: flex;
}

.input-wrapper label {
    min-width: 100px;
}

.input-wrapper input {
    flex: 1;
}

.submit-button {
    width:250px;
    margin: auto;
    margin-top: 16px;
}

#form-alert {
    color: red;
    font-weight: bold;
}